body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 3fr 1fr;
}

header {
    grid-area: header;
    background-color: lightgray;
}

main {
    grid-area: main;
    background-color: lightgoldenrodyellow;
}

aside {
    grid-area: aside;
    background-color: lightpink;
}

footer {
    grid-area: footer;
    background-color: lightgray;
}